# Das ist Git's benutzerspezifische Konfigurationsdatei.
[user]
# Bitte passen Sie die folgenden Zeilen an und kommentieren Sie diese aus:
	name = Matti Schnurbusch
	email = matti.schnurbusch@invia.de
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	tool=Kdiff3
[mergetool]
	keepBackup = false
